<a href="https://colab.research.google.com/github/khurram97/Boot-Camp-Data-Science/blob/main/Copy_of_Project_2_boot_camp_khurram_Iqbal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#%cd drive/MyDrive/HandonTest/DataScienceProject/BootCamp/DataSets/
#%ls

In [ ]:
import pandas as pd

In [ ]:
#Load the data in data fram df from csv file
df = pd.read_csv('/BankChurners.csv')
#Print the df
df

In [ ]:

CLIENTNUM	Attrition_Flag	Customer_Age	Gender	Dependent_count	Education_Level	Marital_Status	Income_Category	Card_Category	Months_on_book	Total_Relationship_Count	Months_Inactive_12_mon	Contacts_Count_12_mon	Credit_Limit	Total_Revolving_Bal	Avg_Open_To_Buy	Total_Amt_Chng_Q4_Q1	Total_Trans_Amt	Total_Trans_Ct	Total_Ct_Chng_Q4_Q1	Avg_Utilization_Ratio	Naive_Bayes_mon_1	Naive_Bayes_mon_2
0	768805383	NaN	45.0	W	3.0	High School	Married	NaN	Blue	39.0	5	1	NaN	12691.0	777	11914.0	1.335	1144	42	1.625	0.061	0.000093	0.999910
1	818770008	Existing Customer	49.0	F	NaN	Graduate	Single	Less than $40K	Blue	NaN	6	1	2.0	8256.0	864	7392.0	1.541	1291	33	3.714	0.105	0.000057	0.999940
2	713982108	Existing Customer	NaN	M	3.0	Graduate	Married	$80K - $120K	Blue	36.0	4	1	0.0	3418.0	0	3418.0	2.594	1887	20	2.333	0.000	0.000021	0.999980
3	769911858	NaN	40.0	F	4.0	High School	Unknown	Less than $40K	Blue	34.0	3	4	1.0	3313.0	2517	796.0	1.405	1171	20	2.333	0.760	0.000134	0.999870
4	709106358	Existing Customer	40.0	M	3.0	Uneducated	Married	$60K - $80K	Blue	21.0	5	1	0.0	4716.0	0	4716.0	2.175	816	28	2.500	0.000	0.000022	0.999980
...	...	...	...	...	...	...	...	...	...	...	...	...	...	...	...	...	...	...	...	...	...	...	...
10122	772366833	Existing Customer	50.0	M	2.0	Graduate	Single	$40K - $60K	Blue	40.0	3	2	3.0	4003.0	1851	2152.0	0.703	15476	117	0.857	0.462	0.000191	0.999810
10123	710638233	Attrited Customer	41.0	M	2.0	Unknown	Divorced	$40K - $60K	Blue	25.0	4	2	3.0	4277.0	2186	2091.0	0.804	8764	69	0.683	0.511	0.995270	0.004729
10124	716506083	Attrited Customer	44.0	F	1.0	High School	Married	Less than $40K	Blue	36.0	5	3	4.0	5409.0	0	5409.0	0.819	10291	60	0.818	0.000	0.997880	0.002118
10125	717406983	Attrited Customer	30.0	M	2.0	Graduate	Unknown	$40K - $60K	Blue	36.0	4	3	3.0	5281.0	0	5281.0	0.535	8395	62	0.722	0.000	0.996710	0.003294
10126	714337233	Attrited Customer	43.0	F	2.0	Graduate	Married	Less than $40K	Silver	25.0	6	2	4.0	10388.0	1961	8427.0	0.703	10294	61	0.649	0.189	0.996620	0.003377
10127 rows Ã— 23 columns

In [ ]:
#Print the Col headings
df.columns

In [ ]:
NTNUM', 'Attrition_Flag', 'Customer_Age', 'Gender',
       'Dependent_count', 'Education_Level', 'Marital_Status',
       'Income_Category', 'Card_Category', 'Months_on_book',
       'Total_Relationship_Count', 'Months_Inactive_12_mon',
       'Contacts_Count_12_mon', 'Credit_Limit', 'Total_Revolving_Bal',
       'Avg_Open_To_Buy', 'Total_Amt_Chng_Q4_Q1', 'Total_Trans_Amt',
       'Total_Trans_Ct', 'Total_Ct_Chng_Q4_Q1', 'Avg_Utilization_Ratio',
       'Naive_Bayes_mon_1', 'Naive_Bayes_mon_2'],
      dtype='object')

In [ ]:
NTNUM', 'Attrition_Flag', 'Customer_Age', 'Gender',
       'Dependent_count', 'Education_Level', 'Marital_Status',
       'Income_Category', 'Card_Category', 'Months_on_book',
       'Total_Relationship_Count', 'Months_Inactive_12_mon',
       'Contacts_Count_12_mon', 'Credit_Limit', 'Total_Revolving_Bal',
       'Avg_Open_To_Buy', 'Total_Amt_Chng_Q4_Q1', 'Total_Trans_Amt',
       'Total_Trans_Ct', 'Total_Ct_Chng_Q4_Q1', 'Avg_Utilization_Ratio',
       'Naive_Bayes_mon_1', 'Naive_Bayes_mon_2'],
      dtype='object')

In [ ]:
class 'pandas.core.frame.DataFrame'>
RangeIndex: 10127 entries, 0 to 10126
Data columns (total 23 columns):
 #   Column                    Non-Null Count  Dtype  
---  ------                    --------------  -----  
 0   CLIENTNUM                 10127 non-null  int64  
 1   Attrition_Flag            10125 non-null  object 
 2   Customer_Age              10126 non-null  float64
 3   Gender                    10127 non-null  object 
 4   Dependent_count           10126 non-null  float64
 5   Education_Level           10127 non-null  object 
 6   Marital_Status            10127 non-null  object 
 7   Income_Category           10126 non-null  object 
 8   Card_Category             10127 non-null  object 
 9   Months_on_book            10126 non-null  float64
 10  Total_Relationship_Count  10127 non-null  int64  
 11  Months_Inactive_12_mon    10127 non-null  int64  
 12  Contacts_Count_12_mon     10126 non-null  float64
 13  Credit_Limit              10127 non-null  float64
 14  Total_Revolving_Bal       10127 non-null  int64  
 15  Avg_Open_To_Buy           10127 non-null  float64
 16  Total_Amt_Chng_Q4_Q1      10127 non-null  float64
 17  Total_Trans_Amt           10127 non-null  int64  
 18  Total_Trans_Ct            10127 non-null  int64  
 19  Total_Ct_Chng_Q4_Q1       10127 non-null  float64
 20  Avg_Utilization_Ratio     10127 non-null  float64
 21  Naive_Bayes_mon_1         10127 non-null  float64
 22  Naive_Bayes_mon_2         10127 non-null  float64
dtypes: float64(11), int64(6), object(6)
memory usage: 1.8+ MB